server:
  port: 8084
  timezone: Asia/Ho_Chi_Minh

spring:
  application:
    name: analytics-service
  datasource:
    url: 'jdbc:mysql://mysql:3306/hacof?serverTimezone=Asia/Ho_Chi_Minh'
    driverClassName: 'com.mysql.cj.jdbc.Driver'
    username: root
    password: 12345
  jackson:
    time-zone: Asia/Ho_Chi_Minh

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.jdbc.time_zone: Asia/Ho_Chi_Minh
    show-sql: true

jwt:
  signerKey: 'ufTpTQ4N18O8b7+Av2juOo+ekka1oKm0Y022PhDtv1muMGsV23u4UKLNSkJebOc3'
  valid-duration: 3600
  refreshable-duration: 864000

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
    register-with-eureka: true
    fetch-registry: true
  instance:
    preferIpAddress: true
